<div class="container">
    <div *ngIf="(basket$ | async) === null">
        <p>There are no products in your basket</p>
    </div>
    <div *ngIf="(basket$ | async) as basket">

        <div class="pb-5">
            <div class="container">

                <div class="row">
                    <div class="col-12 py-5 mb-1">
                        <app-basket-summary [items]="basket.items" (increment)="incrementItemQuantity($event)" (decrement)="decrementItemQuantity($event)" (remove)="removeBasketItem($event)" ></app-basket-summary>
                    </div>
                </div>

                <div class="row">
                    <div class="col-8 offset-4" *ngIf="(basketTotals$ | async) as basketTotals">
                        <app-order-totals [subtotal]="basketTotals.subtotal" [shippingPrice]="basketTotals.shipping" [total]="basketTotals.total"></app-order-totals>
                        <a class="btn btn-outline-success py-2 btn-block" routerLink="/checkout">Proceed to checkout</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>